body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: calc((1vw + 1vh) * 2);
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
